# Ignore the build and lib dirs
build
lib/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Ignore environment.sh file
scripts/environment.sh

# Ignore VSCode files
.vscode/*